@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.logoTitle {
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

.logoTitleTeacher {
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    letter-spacing: 1px;
}

.logo {
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    letter-spacing: 1px;
    position: fixed;
    top: 29px;
    left: 29px;
}

.mantine-Drawer-header {
    padding: 40px 47px 15px 0px;
}

.navBtnLink {
    text-decoration: none !important;
}

.navBtn {
    border: 0px solid black;
    background-color: transparent;
}

.navBtnActive {
    border: 0px solid black !important;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerH-i {
    display: table;
    margin: 0 auto;
}

.centerH-o {
    width:100%
}

.teamCard:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 7px 7px -5px;
}

.mantine-Accordion-content {
    padding: 0px;
}